*.lib
*.dll
*.exe
*.ilk
*.map
*.pdb
*.tlog
*.vcxproj
*.lastbuildstate
*.log
build.x64.vs2012/CMakeFiles/2.8.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.obj
*.rule
*.depend
*.list
build.x64.vs2012/CMakeFiles/TargetDirectories.txt
*.cmake
*.filters
build.x64.vs2012/CMakeCache.txt
*.bin
build.x64.vs2012/CMakeFiles/2.8.12.1/CompilerIdC/CMakeCCompilerId.c
*.check_cache
*.stamp
*.cache
*.sln
*.opensdf
*.suo
*.sdf
*.vcxproj
**/_ignore
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
**/build.x86.vs2013
**/Debug
**/Release
build.x64.vs2013/test_Balls/test_Balls.vcxproj.user
*.vp
*.cpp~
*.h~
