*.lib
*.dll
*.exe
*.ilk
*.map
*.pdb
*.log
*.obj
*.log
*.lastbuildstate
*.tlog
*.idb
*.opensdf
*.suo
*.sdf
*.vcxproj
**/_ignore
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
**/build.x86.vs2013
**/Debug
**/Release
