#version 420

layout(quads, equal_spacing, ccw) in;

uniform mat4      mat_Model   ;
uniform mat4      mat_View    ;
uniform mat4      mat_Proj    ;
uniform sampler2D heightMap;
uniform vec4      patch_Scale ;

in vec3    tc_vpos[];
in vec2    tc_txcd[];



out vec2   otxcd;

vec3 emit_pos ()
{
   vec3 a = mix (tc_vpos[0], tc_vpos[1], gl_TessCoord.x);
   vec3 b = mix (tc_vpos[3], tc_vpos[2], gl_TessCoord.x);
   return mix (a , b, gl_TessCoord.y);
}

vec2 emit_txcd ()
{
   vec2 a = mix (tc_txcd[0], tc_txcd[1], gl_TessCoord.x);
   vec2 b = mix (tc_txcd[3], tc_txcd[2], gl_TessCoord.x);
   return mix (a , b, gl_TessCoord.y);
}

void main ()                                                                  
{                                                                             
   vec3 pos = emit_pos (); 
   vec2 tx0 = emit_txcd();

   vec4 posi = vec4 (
      pos.x, 
      patch_Scale.y * texture2D (heightMap, tx0).r, 
      pos.z, 
      1.0
      );

  // output
  otxcd   = tx0;

  // h pos
  posi = mat_Model * posi;                                                   
  posi = mat_View * posi;                                                    
  gl_Position = mat_Proj * posi;

}                                                                             


